#!/usr/bin/make -f
# -*- makefile -*-
include /usr/share/dpkg/default.mk

# Common variables for all architectures
include debian/rules.d/common.mk

# Pull in some arch specific stuff
-include debian/rules.d/${DEB_BUILD_ARCH}.mk

include debian/rules.d/kernel.mk
include debian/rules.d/zfs.mk

%:
	dh $@

debian/control: $(wildcard debian/templates/*.in)
	sed -e 's/@@KVNAME@@/${KVNAME}/g' < debian/templates/pve-kernel.prerm.in > debian/${PVE_KERNEL_PKG}.prerm
	sed -e 's/@@KVNAME@@/${KVNAME}/g' < debian/templates/pve-kernel.postrm.in > debian/${PVE_KERNEL_PKG}.postrm
	sed -e 's/@@KVNAME@@/${KVNAME}/g' < debian/templates/pve-kernel.postinst.in > debian/${PVE_KERNEL_PKG}.postinst
	sed -e 's/@@KVNAME@@/${KVNAME}/g' < debian/templates/pve-headers.postinst.in > debian/${PVE_HEADER_PKG}.postinst
	chmod +x debian/${PVE_KERNEL_PKG}.prerm
	chmod +x debian/${PVE_KERNEL_PKG}.postrm
	chmod +x debian/${PVE_KERNEL_PKG}.postinst
	chmod +x debian/${PVE_HEADER_PKG}.postinst
	sed -e 's/@KVNAME@/${KVNAME}/g' -e 's/@KVMAJMIN@/${KERNEL_MAJMIN}/g' < debian/templates/control.in > debian/control

debian/SOURCE:
	echo "git clone git@github.com:fabianishere/pve-kernel-edge.git\\ngit checkout ${PKG_GIT_VERSION}" > $@

override_dh_auto_configure: debian/control zfs_configure kernel_configure

override_dh_auto_build: zfs_build

override_dh_clean: debian/control zfs_clean kernel_clean
	dh_clean
	rm -rf debian/${PVE_KERNEL_PKG}.prerm debian/${PVE_KERNEL_PKG}.postrm \
	   debian/${PVE_KERNEL_PKG}.postinst debian/${PVE_HEADER_PKG}.postinst
	rm -rf debian/SOURCE
	rm debian/control
